.terraform.lock.hcl
.terraform
terraform.tfstate.backup
terraform.tfstate
test/.terraform
test/.terraform.lock.hcl
.gitignore
test/.terraform.tfstate.lock.info
app.v1/node_modules
app.v1/package-lock.json
app.v2/node_modules
app.v2/package-lock.json
docker-variable